<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link href = "css/styles.css" rel = "stylesheet"/>
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Security with Spring Boot</title>

</head>
<body>
	<span class="menu-right">
		<a href="/" class="btn btn-warning" >Nearby Shops</a>
		<a href="/likedShops" class="btn btn-primary">My preferred Shops</a>
		<a href="/logout" class="btn btn-light" >Logout</a>
	</span>
	<div class="container">
		    <ul th:each = "shop:${shopList}">
		        <li th:text="${shop.nom}"></li>
		        <li id="pic"></li>
		        <li>
		        <a class="btn btn-success" th:href="@{/{id}(id=${shop.id})}">Like</a>
		        <a class="btn btn-danger" >Dislike</a>
		        </li>
		    </ul>
	
	</div>

</body>

</html>
