<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link href = "css/styles.css" rel = "stylesheet"/>
	<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Mypreffered Demo</title>
</head>

<body>
	<span class="menu-right">
		<a href="/" class="btn btn-warning" >Nearby Shops</a>
		<a href="/likedShops" class="btn btn-primary">My preferred Shops</a>
		<a href="/logout" class="btn btn-light" >Logout</a>
	</span>
	
	<div>My favourite SHOPS</div>

</body>

</html>
